/*--------head------------*/
.head {
  padding: 20px 0px 0px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 10;
}
.logo h1 {
  font-size: 35px;
  font-weight: 900;
}
.logo {
  width: 40%;
}
.logo img {
  width: 35%;
}
.head .icon {
  margin-left: 10px;
}
.social {
  display: flex;
  align-items: center;
}
/*--------header------------*/
header {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
}

header .nav {
  display: flex !important;
}
header li {
  margin-right: 20px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: var(--bl);
}
.start {
  background-color: var(--bl);
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  font-weight: 600;
}

.start :hover {
  background-color: var(--ne);
}
.toggle {
  display: none;
}

/* Menu */
.menu {
  list-style: none;
  display: flex;
}
.menu li {
  position: relative;
  margin: 0 15px;
}

/* Login Dropdown */
.login-dropdown {
  position: relative;
  z-index: 20;
  padding: 0%;
  margin: 0 15px;
  background-color: var(--bl);
  border-radius: 10px 10px 0;
}
.login-dropdown .login-icon {
  margin: 1%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 0%;
}
.butonlo{
  margin: 5px;
  text-align: center;
  font-size: 10px;
}
.login-dropdown .login-icon img.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  
}
.login-icon .icon{
  background-color: rgba(255, 255, 255, 0); 
  color: var(--ba);
}
.login-icon .icon :hover{
  color: var(--ba);
  background-color: var(--bl2); 
}
/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
margin-top: 0%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 100;

  flex-direction: column;
}

.dropdown-menu button {
  background: none;
  border: none;
  width: 100%;
  padding: 5px 5px;
  text-align: left;
  cursor: pointer;
  color: #ffffff;
}

.dropdown-menu button:hover {
  background-color: var(--bl);
}

/* Mostrar el dropdown */
.login-dropdown:hover .dropdown-menu {
  display: flex;
  width: 100px;
  background-color: var(--bl2);
  
}

/* Social */
.social {
  margin: 0%;
}
.social .spl{
  color: #ffffff;
  font-size: 12px;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
    padding: 25px 70px;
    background-color: var(--bl);
  }

  .head {
    padding: 10px 0;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }

  header {
    margin: 0;
    background-color: var(--bl);
    position: relative;
  }

  header ul.flexSB {
    display: none;
  }

  header ul li {
    margin-bottom: 20px;
  }

  .toggle {
    display: block;
    background-color:var(--bl2);
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
    margin: 20px 0px 0 0;
  }

  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: var(--bl);
  }

  .logo {
    width: 50%;
    margin: 2% 25%;
  }

  .logo img {
    width: 100%;
  }

  .social {
    margin: 2% 5%;
    justify-content: space-between;
  }
  .login-dropdown {
    position: relative;
    z-index: 20;
    padding: 1%;
    margin: 0 0px;
    background-color: var(--bl);
    border-radius: 10px 10px 0;
  }

  
  /* Dropdown Responsivo */
  .dropdown-menu {
    
    right: 0;
    left: auto;
    width: 100%;
    top: 100%;
    border-radius: 0;
    border-top: none;
  }
}
